article.card {
  max-width: 550px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 1rem;
}

.categoria-card {
  margin-top: 1rem;
}
.categoria-card span {
  background: #25c4d8;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  color: #fff;
}
.card footer {
  padding: 0 1rem;
}
.perfil-card {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this to space out the avatar and options */
}
.img-perfil-card {
  display: flex;
}
.img-perfil-card img {
  width: 50px;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0;
}
.text-perfil-card {
  display: flex;
  flex-flow: column;
}
.text-perfil-card span:nth-child(2) {
  color: #cfcfcf;
}

.options-button:hover {
  background-color: #c7c8c9;
  border: none;
  outline: none;
}

.options-button:focus {
  outline: none;
  border: none;
}

.options {
  position: relative;
}

.dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  /* other styles... */
}

.dropdown button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
}
